@import "../theme.css";

*{
    padding: 0px;
    margin: 0px;
}

.contenido_Dashboard{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-blanco);
    color: var(--color-negro);
    height: 100vh;
}
