/*tabla Prestamo */
/* Estilo general para el div contenedor de la tabla */
.divtablaSelecionarCliente {
    width: 100%;
    overflow: auto; /* Permitir el scroll independiente del contenedor de la tabla */
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: calc(100vh - 5rem); /* Ajuste para que la tabla ocupe el espacio disponible sin desbordar */
    display: flex;
    flex-direction: column;
}

/* Estilo para la tabla */
.divtablaSelecionarCliente table {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
    flex-grow: 1;
    overflow: auto; /* Permitir scroll horizontal y vertical */
}

/* Control del scroll horizontal y vertical */
.divtablaSelecionarCliente table tbody {
    display: block;
    /*max-height: 100%;*/
    overflow-y: auto;
    height: calc(57vh - 5rem); /* Ajuste para que la tabla ocupe el espacio disponible sin desbordar */
    overflow-x: auto;
}

.divtablaSelecionarCliente table thead, .divtablaSelecionarCliente table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

/* Estilo para las celdas */
.divtablaSelecionarCliente th, .divtablaSelecionarCliente td {
    padding: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Ajuste de ancho para columnas específicas */
.divtablaSelecionarCliente th:nth-child(1), .divtablaSelecionarCliente td:nth-child(1) {
    /*text-align: left;*/
    width: 8%;
}

.divtablaSelecionarCliente th:nth-child(2), .divtablaSelecionarCliente td:nth-child(2) {
    text-align: left;
    /*width: 8%;*/
}

.divtablaSelecionarCliente th:nth-child(3), .divtablaSelecionarCliente td:nth-child(3) {
    text-align: center;
    /*width: 50%;*/
}
.divtablaSelecionarCliente th:nth-child(4), .divtablaSelecionarCliente td:nth-child(4) {
    text-align: center;
    width: 17%;
}

/*.divtablaSelecionarCliente th:nth-child(3), .divtablaSelecionarCliente td:nth-child(2) {*/
/*    width: 20%;*/
/*    text-align: left;*/
/*}*/
/*.divtablaSelecionarCliente th:nth-child(4), .divtablaSelecionarCliente td:nth-child(3) {*/
/*    text-align: center;*/
/*    width: 20%;*/
/*}*/
/*.divtablaSelecionarCliente th:nth-child(5), .divtablaSelecionarCliente td:nth-child(4) {*/
/*    text-align: right;*/
/*    width: 10%;*/
/*}*/

/* Estilo para el encabezado */
.divtablaSelecionarCliente thead {
    background-color: #f4f4f4;
    font-weight: bold;
    position: sticky;
    top: 0;
    z-index: 1;
}

/* Estilo para los botones */
.divtablaSelecionarCliente button {
    padding: 6px 7px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.divtablaSelecionarCliente .btneditarPrestamo {
    background-color: var(--color-verde-oscuro);
    color: white;
}

.divtablaSelecionarCliente .btneliminarPrestamo {
    background-color: var(--color-rojo);
    color: white;
}

.divtablaSelecionarCliente .btneliminarPrestamo svg,  .divtablaSelecionarCliente .btneditarPrestamo svg{
    width: 100%;
    height: 100%;
    pointer-events: none;  /* Para asegurarte de que el clic sea manejado por el botón */
}


.divtablaSelecionarCliente button:hover {
    background-color: var(--color-azul-oscuro);
}

/* Iconos en lugar de texto para botones */
.divtablaSelecionarCliente .accion-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

.divtablaSelecionarCliente .accion-btn button {
    padding: 2px;
}

.divtablaSelecionarCliente .accion-btn button::before {
    content: '\270E'; /* Icono de lápiz para "editar" */
    font-size: 16px;
    color: white;
}

/* Efecto en las filas */
.divtablaSelecionarCliente tbody tr:hover {
    background-color: #f1f1f1;
}

/* Barra de scroll personalizada */
.divtablaSelecionarCliente table tbody::-webkit-scrollbar {
    width: 8px;
}

.divtablaSelecionarCliente table tbody::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.divtablaSelecionarCliente table tbody::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.divtablaSelecionarCliente .imagen-Prestamo {
    width: 50px; /* Ajusta el tamaño según tus necesidades */
    height: 50px;
    border-radius: 50%;
    object-fit: cover; /* Ajusta la imagen para que encaje bien dentro del contenedor */
    border: 1px solid #ddd;
}


/*estilo del div cuando no hay registros */
.no-registrosPrestamo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 3rem);
    text-align: center; /* Para centrar el texto */
}

.no-registrosPrestamo img {
    max-width: 100px; /* Ajusta el tamaño de la imagen según sea necesario */
    margin-bottom: 10px; /* Espacio entre la imagen y el texto */
}

.no-registrosPrestamo p {
    font-size: 1.2em; /* Ajusta el tamaño del texto según sea necesario */
    font-weight: bold;
}

/* Responsive: Mostrar botón de acciones como menú desplegable en pantallas pequeñas */
@media (max-width: 768px) {
    .divtablaSelecionarCliente th:nth-child(5), .divtablaSelecionarCliente td:nth-child(5) {
        position: relative;
    }
    .divtablaSelecionarCliente .accion-btn {
        display: none;
    }
    .divtablaSelecionarCliente td:nth-child(5) {
        text-align: center;
    }

    .divtablaSelecionarCliente td:nth-child(5):hover .accion-btn {
        display: flex;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: #fff;
        border: 1px solid #ddd;
        padding: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 10;
    }
}

/* Habilitar click derecho y doble clic */
.divtablaSelecionarCliente td {
    /*el User-select sirve para poder copiar el contenido de la tabla*/
    /*user-select: none;*/
}

.divtablaSelecionarCliente td {
    /*aca es dentro del td*/
    /*cursor: pointer;*/
}

.divtablaSelecionarCliente tbody tr {
    /*aca es dentro de las filas*/
    /*cursor: pointer;*/
}
